<nav class="navbar border-bottom sticky-top p-0">
  <div class="container-fluid">
    <div class="d-flex flex-wrap align-items-start w-100 mt-0">
      <!-- Brand Image -->
      <a class="navbar-brand mx-2" href="/listings">
        <img id="brand-img" src="/images/logo.png">
      </a>
      <a class="navbar-brand mx-2" href="/listings">
        <img id="brand-name" src="/images/logo name.jpeg">
      </a>

      <!-- Nav Options -->
      <div class="d-flex align-items-center my-0 ms-auto">
        <a class="nav-link mx-2" href="/listings/new">
          <b>List your home</b>
        </a>
        <a class="nav-link px-2 mx-3" id="nav-globe" href="/listings">
          <i class="fa-solid fa-globe"></i>
        </a>

        <div class="dropdown mx-3">
          <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-bars"></i>
            <i class="fa-solid fa-circle-user"></i>
          </button>
          <div class="dropdown-menu p-2 mt-2" aria-labelledby="dropdownMenuButton">
            <% if (!currentUser) { %>
            <a class=" dropdown-item" aria-current="page" href="/signup">Sing up</a>
            <a class="dropdown-item" href="/login"> Log in </a>
            <hr>
            <a class="dropdown-item" href="/listings">Explore</a>
            <a class="dropdown-item" href="/listings/new">List your home</a>
            <% } else { %>
            <a class="dropdown-item" href="/logout">
              <p>Log out</p>
            </a>
            <hr>
            <a class="dropdown-item" href="/listings">Explore</a>
            <a class="dropdown-item" href="/listings/new">List your home</a>
            <% } %>
          </div>
        </div>

      </div>
    </div>

    <%- include("./navSearch.ejs") %>


  </div>
</nav>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>