body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}


/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0;
}

.card-text {
    font-weight: 500;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}


/* button */
.add-btn {
    background-color: #fe424d;
    color: #fff;
    border: none;
}
.add-btn:hover {
    background-color: #ee6770;
}

/* Show page */
.show-img {
    height: 60vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

.show-info {
    border-radius: 25px;
    font-weight: 500;
    box-shadow: 0 0 3px 0 black;
}

/* Map */
#map {
    height: 350px;
    box-shadow: 0 0 3px 0 black;
    border-radius: 10px;
}

#marker {
    background-image: url('/images/map-pointer.jpg');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-Popup {
    max-width: 200px;
}

@media (max-width: 900px) {
    #marker {
        width: 20px;
        height: 20px;
    }
  }